# conf/config.yaml
defaults:
  - model: anyup
  - backbone: base
  - optimizer: adamw
  - dataset@train_dataset: train
  - dataset@val_dataset: val
  - dataloader@train_dataloader: train
  - dataloader@val_dataloader: val


# General parameters
epochs: 4
max_steps: 100_000
project_root: ${hydra:runtime.cwd}
dataroot: ${project_root}/data/imagenet
patch_size: 14
img_size: 224
crop_size: 448
num_local_crops: 4
downsampling_regularization: 0.1
augmentation_strength: 1.0
augmentation_regularization: 0.1


sanity: False

# Hydra configuration
hydra:
  run:
    dir: ./output/${now:%Y-%m-%d}/${now:%H-%M-%S}
    